.Basket{
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}
.Basket .left{
    width: 81%;
    max-width: 450px;
    min-width: 270px;
    display: flex;
    flex-direction: column;
}
.Basket .right{
    width: 200px;
}
.Basket button{
    width: 120px;
    height: 30px;
    background-color: rgb(10, 10, 179);
    color: white;
    border-radius: 3px;
    border: none;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
}
.goHomeBtn{
    width: 120px;
    height: 30px;
    margin-bottom: 30px;
    background-color: rgb(10, 10, 179);
    color: white;
    border-radius: 3px;
    border: none;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
}
@media screen and (min-width: 300px) and (max-width: 760px) {
    .Basket{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Basket .right{
        padding: 10px;
    }
    .goHomeBtn{
        margin-bottom: 0px;
    }
}