.home{
    
}
.search{
    display: flex;
    width: 300px;
    justify-content: space-around;
    margin-bottom: 20px;
}
input{
    width: 200px;
    height: 25px;
}
.searchBtn{
    width: 80px;
    height: 30px;
    background-color: rgb(10, 10, 179);
    color: white;
    border-radius: 3px;
    border: none;
}
.footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.movies{
    width: 70vw;
    margin: 20px auto;
    display: flex;
    flex-direction: column;

}
