
.home{
    position: relative;
    padding-top: 20px;
}
button{
    cursor: pointer;
}
.search{
    display: flex;
    width: 270px;
    justify-content: space-between;
    margin-bottom: 20px;
}
input{
    width: 180px;
    height: 25px;
}
.searchBtn{
    width: 70px;
    height: 30px;
    background-color: rgb(10, 10, 179);
    color: white;
    border-radius: 3px;
    border: none;
}
.footer{
    display: flex;
    min-width: 300px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /* height: 130px; */
}
.movies{
    width: 75vw;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
.error{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home img{
    width: 31vw;
    min-width: 165px;
}
.home .errorMessage{
    font-size: 30px;
    width: 31vw;
    min-width: 165px;
    margin-top: 20px;
    color: #68E2FD;
    font-weight: 800;
}
.home .inpError{
    color: red;
    font-size: 23px;
}


@media screen and (min-width: 300px) and (max-width: 700px) {
    .footer{
        /* height: 190px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* flex-wrap: wrap; */
    
    }
    .movies{
        align-items: center;
    }
    
}
   
@media screen and (min-width: 700px) and (max-width: 760px) {
    .movies{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
  }
  