.MovieList{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(237, 251, 251);
    margin-bottom: 20px;
    border-radius: 10px;
    border: 0.5px solid rgb(187, 187, 187);
}
.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.MovieList h2{
    margin: 0;
}
.list{
    padding: 0;
}
.list img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.list .movieName{
    width: 36.8vw;
    max-width: 260px;
    display: flex;
    align-items: center;
}
.list li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

@media screen and (min-width: 300px) and (max-width: 760px) {
    .list img{
        width: 40px;
        height: 40px;
    }
    .MovieList{
        padding: 10px;
    }
}